
/nlp4es8/logs/
/.ipynb_checkpoints/
/nlp4es8/.idea/
/.idea/
/data/nlpcc-iccpol-2016.kbqa.kb
/data/kbqa7.txt
/data/kbqa0.txt
/data/kbqa1.txt
/data/kbqa5.txt
/data/kbqa6.txt
/data/kbqa3.txt
/data/kbqa8.txt
/data/kbqa4.txt
/data/kbqa2.txt
